@import url(https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Questrial&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@100;200;300;400;500;600;800;900&display=swap);




/*Fontes:
Tenor Sans
Questrial
Nunito

*/

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    
    }
*::-webkit-scrollbar{
    display: none;
} 
/*HEADER */
.header{
    width: 100%;
    height: 30px;
    background-color: rgb(24, 23, 23);
}
.texto_header{
    padding-top: 7px;
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: 'Questrial', sans-serif;
 
}
.ancora_header{
    color: white;
    text-decoration: underline;   
}

/* MENU */
.menu{
    position: relative;
    width: 99%;
    height: 20%;
    margin-left: 9px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}
.imagem_logo{
    width: 40%;
    height: 100%;
    margin-left: 21%;
    position: relative;
    margin-top: -15px ;
}
.login{
    margin-left: 20%;
}
.ancora_login{
    color: rgb(160, 156, 156);
    text-decoration: none;
    display: flex; /* Para colocar os elementos em linha */
    align-items: center; 
}

.texto_login{
    font-family: 'Questrial', sans-serif;
}

.pesquisa{
    margin-left: -4%;
}
.ancora_pesquisa{
    color: rgb(160, 156, 156);
    text-decoration: none;
    display: flex; 
    align-items: center; 
    
}
.linha-fina {
    position: relative;
   
    width: 64%; 
    height: 1px; 
    background-color: rgb(192, 185, 185); 
    margin: -20px auto 20px auto; 
    
}

/*CATEGORIAS MENU */
.menu2{
    position:relative;
    width: 99%;
    height: 40px;
    margin-left: 9px;
    background-color:  rgb(255, 255, 255);
    display: flex;
    align-items: center;
}

.configurar_categorias{
    width: 99%;
    margin-left:32%;
    display: flex;
}
.Estilos{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(160, 156, 156);
    font-family: 'Nunito', sans-serif;
    margin-left: -1%;
    
}
.Tecidos{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(160, 156, 156);
    font-family: 'Nunito', sans-serif;
    margin-left: 5%;
    
}
.Planos{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(160, 156, 156);
    font-family: 'Nunito', sans-serif;
    margin-left: 5%;
    
}
.SobNos{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(160, 156, 156);
    font-family: 'Nunito', sans-serif;
    margin-left: 5%;
    
}
.Susten{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(160, 156, 156);
    font-family: 'Nunito', sans-serif;
    margin-left: 5%;    
}
.Estilos:hover {
    width: 5.2%;
    height: 81px;
    color: rgb(110, 150, 118);
    background-color:rgb(245, 255, 247) ;
    border-top: 2px solid #769476;
  }
.Tecidos:hover{
    width: 5.%;
    height: 81px;
    color: rgb(110, 150, 118);
    background-color:rgb(245, 255, 247) ;
    border-top: 2px solid #769476;
}
.Planos:hover{
    width: 5.5%;
    height: 81px;
    color: rgb(110, 150, 118);
    background-color:rgb(245, 255, 247) ;
    border-top: 2px solid #769476;
}
.SobNos:hover{
    width: 7.5%;
    height: 81px;
    color: rgb(110, 150, 118);
    background-color:rgb(245, 255, 247) ;
    border-top: 2px solid #769476;
}
.Susten:hover{
    width: 12%;
    height: 81px;
    color: rgb(110, 150, 118);
    background-color:rgb(245, 255, 247) ;
    border-top: 2px solid #769476;
}


.blocobranco1{
    margin-top: 5%;
    width: 100%;
    height: 50px;
}
.blocobranco1 p{
    margin-top: 2%;
    margin-left: 20.5%;
    font-size: 3em;
}
.blocobranco2{
    width: 100%;
    height: 105px;
}
.conteudo1{
    width: 70%;
    height: 250px;
    margin-top: 3%;
    margin-left: 15%;
}
.imagem1{
    height: 120%;
    width: 45%;
    float: left;
    margin-left: 5%;
}
.imagem1 img{
    height: 100%;
    width: 100%;
    float: left;
}
.texto1{
    text-align: justify;
    float: left;
    margin-left: 5%;
    margin-top: 0;
    width: 40%;
    font-size: 130%;
    color: rgb(80, 73, 73);
    font-family: 'Frank Ruhl Libre', serif;
}
.conteudo2{
    width: 70%;
    height: 400px;
    margin-top: 10%;
    margin-left: 15%;
}
.imagem2{
    height: 80%;
    width: 40%;
    float: right;
}
.imagem2 img{
    height: 50%;
    width: 50%;
    float: left;
}
.texto2{
    float: left;
    margin-left: 5%;
    margin-top: 3%;
    width: 50%;
    font-size: 130%;
    color: rgb(80, 73, 73);
    font-family: 'Frank Ruhl Libre', serif;
}
.conteudo3{
    width: 70%;
    height: 400px;
    margin-top: 5%;
    margin-left: 15%;
}
.imagem3{
    height: 100%;
    width: 50%;
    float: left;
    margin-left: 5%;
}
.imagem3 img{
    width: 100%;
    height: 100%;
}
.texto3{
    float: left;
    margin-left: 5%;
    margin-top: 3%;
    width: 40%;
    font-size: 130%;
    color: rgb(80, 73, 73);
    font-family: 'Frank Ruhl Libre', serif;
    text-align: justify;
}
.img1{
    float: left;
    height: 50%;
    width: 50%;
}
.img2{
    float: left;
    height: 50%;
    width: 50%;
}
.img3{
    float: left;
    height: 50%;
    width: 50%;
}
.img4{
    float: left;
    height: 50%;
    width: 50%;
}
.conteudo4{
    width: 70%;
    height: 400px;
    margin-top: 10%;
    margin-left: 15%;
}
.imagem4{
    height: 110%;
    width: 40%;
    float: right;
}
.imagem4 img{
    height: 50%;
    width: 50%;
    float: left;
}
.texto4{
    float: left;
    margin-left: 2%;
    margin-top: 8%;
    width: 50%;
    font-size: 130%;
    color: rgb(80, 73, 73);
    font-family: 'Frank Ruhl Libre', serif;
}
.conteudo5{
    width: 70%;
    height: 400px;
    margin-top: 10%;
    margin-left: 15%;
}
.imagem5{
    height: 90%;
    width: 27%;
    float: left;
}
.img5{
    height: 50%;
    width: 50%;
    float: left;
}
.img6{
    float: left;
    height: 50%;
    width: 50%;
}
.img7{
    float: left;
    height: 60%;
    width: 100%;
}
.texto5{
    float: left;
    margin-left: 4%;
    margin-top: 7%;
    width: 60%;
    font-size: 130%;
    color: rgb(80, 73, 73);
    font-family: 'Frank Ruhl Libre', serif;
}
.conteudo6{
    width: 70%;
    height: 400px;
    margin-top: 10%;
    margin-left: 15%;
}
.imagem6{
    height: 110%;
    width: 30%;
    float: right;
}
.img8{
    height: 50%;
    width: 50%;
    float: left;
}
.img9{
    float: left;
    height: 50%;
    width: 50%;
}
.img10{
    float: left;
    height: 60%;
    width: 100%;
}
.texto6{
    float: left;
    margin-left: 2%;
    margin-top: 10%;
    width: 50%;
    font-size: 130%;
    color: rgb(80, 73, 73);
    font-family: 'Frank Ruhl Libre', serif;
}
p{
    text-align: justify;
}
.Susten:hover{
    width: 12%;
    height: 81px;
    color: rgb(110, 150, 118);
    background-color:rgb(245, 255, 247) ;
    border-top: 2px solid #769476;
}
.Susten{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(160, 156, 156);
    font-family: 'Nunito', sans-serif;
    margin-left: 5%;    
}
/* Style The Dropdown Button */
.dropbtn {
    height: 80px;
    width: 60px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(160, 156, 156);
    font-family: 'Nunito', sans-serif;
    font-size: 100%;
    margin-left: 5%;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    background-color: white;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    top: 70%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    color: rgb(110, 150, 118);
    background-color:rgb(245, 255, 247) ;
    border-top: 1px solid #769476;
    width: 100%;
  }
body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Isso garante que a página ocupe pelo menos a altura da tela */
    position: relative;


}
footer{
    position: relative ;
    bottom: 0;
    width: 100%;
    height: 9%;
    background-color:rgb(14, 13, 13);
    color: white;
    text-align: center;
    padding: 18px 0;
    font-family:'Tenor Sans', sans-serif;
}
.ancora_footer{
    text-decoration: none;
    color: white;
}
.footer-texto-2{
    
    bottom: 0;
    width: 100%;
    height: 9%;
    background-color:rgb(14, 13, 13);
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family:'Tenor Sans', sans-serif
}
