@import url(https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Questrial&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@100;200;300;400;500;600;800;900&display=swap);




/*Fontes:
Tenor Sans
Questrial
Nunito

*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

    }
h1{
    font-size: 200%;
    margin-top: 3%;
    text-align: center;
    color: rgb(80, 73, 73);
}
.texto1 {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 20%;
    margin-left: 25%;
    margin-top: 2%;
    font-size: 150%;
    text-indent: 10%;
    text-align: justify;

    font-family: 'Frank Ruhl Libre', serif;
    color: rgb(110, 109, 109, 0.658);
}
.texto2 {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 20%;
    margin-left: 25%;
    margin-top: 2%;
    font-size: 150%;
    font-size: 150%;
    text-align: justify;
    color: rgb(110, 109, 109, 0.658);
   
    font-family: 'Frank Ruhl Libre', serif;
}
.texto3 {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 20%;
    margin-left: 25%;
    margin-top: 2%;
    font-size: 150%;
    text-indent: 10%;
    text-align: justify ;
    color: rgba(110, 109, 109, 0.658);
    
    font-family: 'Frank Ruhl Libre', serif;
}
.texto4 {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 20%;
    margin-left: 25%;
    margin-top: 2%;
    font-size: 150%;
    text-align: justify;
    color: rgba(110, 109, 109, 0.658);
   
    font-family: 'Frank Ruhl Libre', serif;
}
.Susten{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(160, 156, 156);
    font-family: 'Nunito', sans-serif;
    margin-left: 5%;    
}
.Susten:hover{
    width: 12%;
    height: 81px;
    color: rgb(110, 150, 118);
    background-color:rgb(245, 255, 247) ;
    border-top: 2px solid #769476;
}           
footer{
    position: relative  ;
    bottom: 0;
    width: 100%;
    height: 9%;
    background-color:rgb(14, 13, 13);
    color: white;
    text-align: center;
    padding: 18px 0;
    font-family:'Tenor Sans', sans-serif;
}
.footer-texto-2{
    
    bottom: 0;
    width: 100%;
    height: 9%;
    background-color:rgb(14, 13, 13);
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family:'Tenor Sans', sans-serif
}